<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUHNxLyM2E-rL8hna4ro9QIxUC7RZYZcs</string>
	<key>GCM_SENDER_ID</key>
	<string>1024842670611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proto</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b3422</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b3422.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024842670611:ios:8823b5a81450482f0b55e6</string>
</dict>
</plist>